body {
	
	font-family: 'Lato', sans-serif;
	color: #D5D5D5;
	background-color: #9099A2;
	text-align: center;
	letter-spacing: 30;
	padding: 10px;
	min-height: 100%;
	height: 100%;
	position: relative;

}

h1 { 
	animation-name: fadeIn;
	animation-duration: 0.5s;
	opacity: 0;
	animation-fill-mode: forwards;
	}
h2 { 
	animation-name: fadeIn;
	animation-delay: 0.5s;
	animation-duration: 0.5s; 
	opacity: 0;
	animation-fill-mode: forwards;
	}
h3 { 
	animation-name: fadeIn;
	animation-delay: 1s;
	animation-duration: 0.5s; 
	opacity: 0;
	animation-fill-mode: forwards;
	}

@keyframes fadeIn {
	
	0% { opacity: 0;  }
	100% { opacity: 1;	}
	
}

@media screen
	and (orientation: portrait) {
		
	body {
		font-size: 450%;
		width: 100%;
	}
		
}